:root {
  --titles: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  background-color: black;
  font-family: "PT Sans", sans-serif;
}

#body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  background-color: black;
  font-family: "PT Sans", sans-serif;
}

.web {
  --yellow: rgb(255, 221, 64);
  --green: rgb(0, 173, 170);
  --black: rgb(0, 0, 0);
  --red: rgb(254, 165, 127);
  --cream: rgb(246, 255, 216);
  --gray: rgb(229, 229, 229);
  --white: rgb(255, 255, 255);

  margin: 0px;
  padding: 0px;
  background-color: var(--yellow);
  font-family: "PT Sans", sans-serif;
}

.web-dark {
  --yellow: #0f292f;
  --green: #14a098;
  --black: rgb(227, 227, 227);
  --red: #501f3a;
  --cream: #cccccc;
  --gray: #cb2d6f;
  --white: rgb(0, 0, 0);

  margin: 0px;
  padding: 0px;
  background-color: var(--yellow);
  font-family: "PT Sans", sans-serif;
}

.help {
  margin: 4% 0;
  visibility: hidden;
  height: 0%;
  width: 0%;
}

/* HEADER */

.header {
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
}

.header__nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav-active {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav__li {
  margin: 0.1em;
  list-style: none;
  cursor: pointer;
}

.header__nav__li:hover {
  animation: hoverInAnim 1s ease 0s 1 normal forwards;
}


.header__nav__li__a {
  color: var(--gray);
  text-transform: uppercase;
  text-decoration: none;
  text-decoration: none;
}

.header__nav__li__a:hover {
  color: var(--white);
}

.header__logo {
  width: 3em;
  margin: 0.5em 2em;
  cursor: pointer;
}
.header__logo:hover {
  animation: hoverInAnim 1s ease 0s 1 normal forwards;
}

.header__img {
  display: flex;
  justify-content: space-around;
}

.header__img-eng {
  filter: invert(90%);
  width: 2.5em;
  margin: 0.5em 2em;
  cursor: pointer;
  animation: hoverOutAnim 1s ease 0s 1 normal forwards;
}

.header__img-eng:hover {
  filter: invert(100%);
  animation: hoverInAnim 1s ease 0s 1 normal forwards;
}

.header__img-eng-dark {
  filter: invert(10%);
  width: 2.5em;
  margin: 0.5em 2em;
  cursor: pointer;
  animation: hoverOutAnim 1s ease 0s 1 normal forwards;
}

.header__img-eng-dark:hover {
  filter: invert(0%);
  animation: hoverInAnim 1s ease 0s 1 normal forwards;
}

.header__img-theme {
  filter: invert(90%);
  width: 2.5em;
  margin: 0.5em 2em;
  cursor: pointer;
  animation: hoverOutAnim 1s ease 0s 1 normal forwards;
}

.header__img-theme:hover {
  filter: invert(100%);
  animation: hoverInAnim 1s ease 0s 1 normal forwards;
}

.header__img-theme-dark {
  filter: invert(10%);
  width: 2.5em;
  margin: 0.5em 2em;
  cursor: pointer;
  animation: hoverOutAnim 1s ease 0s 1 normal forwards;
}

.header__img-theme-dark:hover {
  filter: invert(0%);
  animation: hoverInAnim 1s ease 0s 1 normal forwards;
}

.header__menu {
  display: none;
}

/* HOME */

.home {
  background-color: var(--yellow);
  height: 88vh;
  margin-top: -4%;
  scroll-snap-align: start;
}

.home__content {
  display: flex;
  justify-content: center;
  margin: 6em 2em;
  color: var(--black);
}

.home__content__text {
  margin: auto;
  font-family: var(--titles);
}

.home__content__text__presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3em;
}

.home__content__text__presentation__title {
  font-family: var(--titles);
  font-size: 5em;
  color: var(--black);
}

.home__content__text__presentation__title:hover {
  animation: helloAnim 2s ease 0s 1 normal forwards;
}

.home__content__text__presentation__container {
  margin-left: 3.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__content__text__presentation__im {
  font-family: var(--titles);
  text-align: center;
  font-size: 1.8em;
}
.home__content__text__presentation__name {
  font-family: var(--titles);
  font-size: 2.2em;
}

.home__content__text__presentation__name:hover {
  animation: nameAnim 2s ease 0s 1 normal forwards;
}

.home__content__text__presentation__undername {
  font-family: var(--titles);
  font-size: 1.2em;
  font-weight: 600;
}

.home__content__text__description {
  margin: auto;
  width: 90%;
  font-size: 1em;
  font-weight: 600;
}

.home__content__img {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1.5s;
}

.home__content__img:hover {
  transform: scale(1.1);
}

.home__content__img__border-1 {
  border: 2px dashed var(--black);
  border-radius: 100%;
  margin: 1em;
}

.home__content__img__border-2 {
  border: 2px dashed var(--cream);
  border-radius: 100%;
  margin: 1em;
}

.home__content__img__border-3 {
  border: 2px dashed var(--black);
  border-radius: 100%;
  margin: 1em;
}

.home__content__img__border__img {
  border-radius: 100%;
  width: 20em;
  margin: 1em;
}

/* PORTFOLIO */

.portfolio {
  background-color: var(--red);
  height: 88vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.portfolio__title {
  margin: 0% 12%;
  display: flex;
  justify-content: space-between;
  height: 23%;
  color: var(--black);
}

.portfolio__title__text {
  font-family: var(--titles);
  font-size: 3em;
}

.portfolio__title__laptop {
  width: 15%;
  animation: hoverOutAnim 1s ease 0s 1 normal forwards;
}

.portfolio__title__laptop:hover {
  animation: hoverInAnim 1s ease 0s 1 normal forwards;
}

.portfolio__container {
  display: flex;
  margin: 3% 4%;
  height: 100%;
}

.portfolio__container__projects {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.portfolio__container__projects__project {
  position: relative;
  width: 25%;
  height: 100%;
  margin: 2% 1%;
  border: var(--cream) solid 0.1em;
  border-radius: 5%;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.portfolio__container__projects__project:hover
  > .portfolio__container__projects__project__hover {
  opacity: 1;
  visibility: visible;
}

.portfolio__container__projects__project-title {
  position: absolute;
  color: #fff;
  padding: 1em;
  background: rgba(50, 50, 50, 0.9);
  border-radius: 10%;
  z-index: 9999;
}

.portfolio__container__projects__project-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 5%;
  transition: all 400ms ease-out;
  will-change: transform;
}

.portfolio__container__projects__project__hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5%;
  transition: all 0.5s ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.portfolio__container__projects__project__hover-text {
  color: #fff;
  margin: 35% 10% 10% 10%;
}

.portfolio__container__projects__project__hover-button {
  color: #fff;
  border: #fff solid 0.1em;
  padding: 0.5em;
  margin: 0% 2%;
}

.portfolio__container__projects__project__hover-button:hover {
  background: rgba(0, 0, 0, 0.9);
}

.portfolio__container__cv {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__container__cv__label {
  color: var(--black);
  font-size: 2em;
}

.portfolio__container__cv__button {
  width: 50%;
  height: 50%;
  border: var(--cream) solid 0.3em;
  border-radius: 100%;
  background-color: var(--cream);
  background-image: url("../src/img/logo/avatar-normal.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.portfolio__container__cv__button:hover {
  border: var(--yellow) solid 0.3em;
  background-color: var(--yellow);
  background-image: url("../src/img/logo/avatar-hover.svg");
}

.portfolio__container__cv__label {
  font-size: 1.2em;
  color: var(--black);
}

.portfolio__mouse {
  width: 6em;
  height: 4em;
  transform: rotate(270deg);
}

/* SKILLS */

.skills {
  background-color: var(--yellow);
  height: 88vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.skills__title {
  display: flex;
  justify-content: center;
}
.skills__title-text {
  font-family: var(--titles);
  font-size: 3em;
}

.skills__container {
  height: 65%;
  display: flex;
  align-items: center;
}

.skills__container__know {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills__container__know-1 {
  margin: auto;
  width: 55%;
}

.skills__container__know__tec {
  display: flex;
  justify-content: start;
  align-items: center;
}

.skills__container__know__tec__label {
  font-family: var(--titles);
  font-size: 1.5em;
  margin: 0% 8%;
}

.skills__container__know__tec__logo {
  width: 4em;
  height: 4em;
  margin: 0.5% 0%;
}

.skills__container__know__react {
  display: flex;
  align-items: center;
  width: 100%;
}

.skills__container__know__react__container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.skills__container__know__react__container-redux {
  display: flex;
  font-size: 0.9em;
  margin: 4%;
}

.skills__container__know__react__container-router {
  display: flex;
  font-size: 0.9em;
  margin: 4%;
  width: 100%;
}

.skills__container__know__react__container-context {
  display: flex;
  font-size: 0.9em;
  margin: 4%;
}

.skills__container__know-2 {
  margin: auto;
}
.skills__container__know__tec {
  display: flex;
  justify-content: start;
  align-items: center;
}
.skills__container__know__tec__label {
  font-family: var(--titles);
  font-size: 1.5em;
  margin: 0% 8%;
}

.skills__container__know__tec__logo {
  width: 4em;
  height: 4em;
  margin: 0.5% 0%;
}

.skills__container__divider {
  font-size: 3em;
  transform: rotate(90deg);
  width: 39%;
}

.skills__container__less {
  width: 25%;
}
.skills__container__less__title {
  font-family: var(--titles);
}

/* ABOUT ME */

.about {
  background-color: var(--green);
  height: 88vh;
  display: flex;
  flex-direction: column;
}

.about__decoration {
  display: flex;
  justify-content: space-between;
}

.about__decoration__img {
  width: 5%;
  height: 60%;
  margin: 0.5% 10%;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% 10%;
}

.about__text-title {
  font-family: var(--titles);
  font-size: 3em;
}

.about__text-description {
  font-size: 1.1em;
  background-color: rgb(2, 217, 213);
  border-radius: 1em;
  padding: 1%;
  width: 100%;
  height: 52%;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
}

/* CONTACT ME */

.contact {
  background-color: var(--yellow);
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__container {
  width: 100%;
  height: 76%;
  display: flex;
  justify-content: center;
}

.contact__container__info {
  position: absolute;
  background-color: var(--green);
  height: 65%;
  width: 20%;
  left: 10%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__container__info-title {
  color: var(--black);
}
.contact__container__info-container {
  display: flex;
  align-items: center;
  color: var(--black);
}

.contact__container__info-img {
  width: 14%;
  margin: 10% 6%;
}

.contact__container__info-img-dark {
  filter: invert(90%);
  width: 14%;
  margin: 10% 6%;
}

.contact__container__info-text-linkedin {
  color: var(--black);
  text-decoration: none;
  animation: hoverOutAnim 1s ease 0s 1 normal forwards;
}

.contact__container__info-text-linkedin:hover {
  color: var(--white);
  text-decoration: underline;
  animation: hoverInAnim 2s ease 0s 1 normal forwards;
}

.contact__container__form {
  background-color: var(--cream);
  height: 80%;
  width: 80%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact__container__form__section {
  width: 60%;
  height: 20%;
  margin: 2% 0% 0% 0%;
  
}

.contact__container__form__section-input {
  padding: 1.5%;
  width: 60%;
  border: none;
  border-bottom: 0.188em solid var(--gray);
  background: transparent;
  border-radius: 0.625em;
}

.contact__container__form__section-input:focus {
  background: linear-gradient(to bottom, transparent, rgb(223, 232, 198));
  outline: none;
  color: black;
}

.contact__container__form__section-input:hover {
  background: rgb(223, 232, 198);
  border-radius: 0.625em;
}

.contact__container__form__section-textarea {
  padding: 3%;
  width: 58%;
  border: none;
  border-bottom: 0.188em solid var(--gray);
  background: transparent;
  border-radius: 0.625em;
}
.contact__container__form__section-textarea:focus {
  background: linear-gradient(to bottom, transparent, rgb(223, 232, 198));
  outline: none;
  color: black;
}

.contact__container__form__section-textarea:hover {
  background: rgb(223, 232, 198);
  border-radius: 0.625em;
}
.contact__container__form__section-submit {
  padding: 2.2%;
  width: 64%;
  color: var(--black);
  background-color: var(--red);
  border: 0.188em solid var(--gray);
  border-radius: 0.625em;
  animation: hoverOutAnim 1s ease 0s 1 normal forwards;
}

.contact__container__form__section-submit:hover {
  background-color: rgb(254, 138, 89);
  border-color: var(--black);
  animation: hoverInAnim 1s ease 0s 1 normal forwards;
}

/* FOOTER */

.footer {
  background: rgb(94, 32, 94);
  margin-top: 6.1%;
  height: 8%;
  width: 60%;
  border-radius: 3em;
  display: flex;
  align-items: center;
}
.footer__presentation {
  margin-left: 5%;
  width: 100%;
}

.footer__presentation-text {
  color: var(--cream);
  font-size: 1em;
}

.footer__social {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-insta {
  width: 1.7em;
  margin: 0% 10%;
  filter: invert(90%);
}

.footer__social-fb {
  width: 1.7em;
  margin: 0% 10%;
  filter: invert(90%);
}

/* ANIMATIONS */

@keyframes nameAnim {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes helloAnim {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes hoverInAnim {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes hoverOutAnim {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }

}

@keyframes inLeft {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}




















/* RESPONSIVE DESING */
@media (min-width: 1200px) { 

  #body {
    font-size: 18px;
    background: #5e3939;
    width: 100vw;
  }
}


@media (max-width: 1024px) { 

  #body {
    font-size: 14px;
    background: #5e3939;
    width: 100vw;
  }

  /* HEADER */
  
  .header__nav {
    display: none;
  }
  
  .header__nav__li {
    display: block;
    margin: 0.4em 0;
    line-height: 30px;
  }
  
  .header__nav__li__a {
    color: var(--gray);
    text-transform: uppercase;
    text-decoration: none;
    text-decoration: none;
  }
  
  .header__img-theme {
    margin: auto 2em;
  }
  
  .header__img-theme-dark {
    margin: auto 2em;
  }


  .header__menu {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    border: 0;
    background: transparent;
    gap: 0.5em;
    margin: auto 1em;
  }

  .header__menu__div {
    background-color: var(--white);
    height: 0.3em;
    width: 3em;
    border-radius: 1em;
    transition: all 0.5s;
    transform-origin: left;
  }

  .header__menu__div-1 {
    transform: rotate(32deg);
  }
  .header__menu__div-2 {
    opacity: 0;
  }
  .header__menu__div-3 {
    transform: rotate(-32deg);
  }

  .header__nav-active {
    position: fixed;
    width: 100vw;
    height: 28vh;
    background: #2c3e50;
    top: 5.4%;
    left: 0;
    text-align: center;
    transition: all .5s; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: inLeft 1s ease 0s 1 normal forwards;
  }


  /* HOME */

.home {
  background-color: var(--yellow);
  height: 88vh;
  width: 100vw;
  margin-top: -4%;
  scroll-snap-align: start;
}

.home__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em auto;
  color: var(--black);
}

.home__content__text {
  margin: auto;
  font-family: var(--titles);
  display: flex;
  flex-direction: column;
}

.home__content__text__presentation {
  margin: 0 2em;
}

.home__content__text__presentation__title {
display: none;
}

.home__content__text__presentation__container {
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__content__text__presentation__im {
display: none;
}
.home__content__text__presentation__name {
  font-family: var(--titles);
  font-size: 2.2em;
  text-align: center;
  width: 80%;
  margin: 1em auto 0 auto;
}

.home__content__img__border__img {
  border-radius: 100%;
  width: 12em;
  margin: 1em;
}

.home__content__img {
  margin: 1em;
}



/* PORTFOLIO */ 

.portfolio__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.portfolio__container__projects {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio__container__projects__project {
  position: relative;
  width: 100%;
  height: 80%;
  border: var(--cream) solid 0.1em;
  border-radius: 5%;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.portfolio__container__projects__project-title {
  position: absolute;
  color: #fff;
  padding: 0.6em;
  background: rgba(50, 50, 50, 0.9);
  border-radius: 10%;
  z-index: 9999;
  margin: 0;
}

.portfolio__container__projects__project-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 5%;
  transition: all 400ms ease-out;
  will-change: transform;
}

.portfolio__container__projects__project__hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5%;
  transition: all 0.5s ease-out;
  opacity: 1;
  visibility: visible;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio__container__projects__project__hover-text {
  color: #fff;
  margin: 1em;
}

.portfolio__container__cv {
  width: 80%;
  height: 45%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__container__cv__label {
  color: var(--black);
  font-size: 2em;
}

.portfolio__container__cv__button {
  width: 20%;
  border: none;
  border-radius: 0;
  background-color: var(--red);
  background-image: url("../src/img/logo/avatar-normal.svg");
  background-size: 40%;
  cursor: pointer;
}

.portfolio__container__cv__button:hover {
  background-color: var(--red);
  background-image: url("../src/img/logo/avatar-normal.svg");
  border: none;
}

.portfolio__container__cv__label {
  font-size: 1.2em;
  color: var(--black);
}

.portfolio__mouse {
position: absolute;
}

/* SKILLS */

.skills {
  background-color: var(--yellow);
  height: 88vh;
  max-height: 88vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.skills__title {
  display: flex;
  justify-content: center;
}
.skills__title-text {
  font-family: var(--titles);
  font-size: 3em;
}

.skills__container {
  height: 65%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__container__know {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.skills__container__know-1 {
  margin: auto;
  width: 40%;
}

.skills__container__know__tec {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 1em;
}

.skills__container__know__tec__label {
  font-family: var(--titles);
  font-size: 1.5em;
  margin: 0% 4%;
  text-align: center;
}

.skills__container__know__tec__logo {
  width: 2em;
  height: 2em;
  margin: 0.5% 0%;
}

.skills__container__know__react {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skills__container__know__react__container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.skills__container__know__react__container-redux {
  display: flex;
  font-size: 0.9em;
  margin: 4%;
}

.skills__container__know__react__container-router {
  display: flex;
  font-size: 0.9em;
  margin: 4%;
  width: 100%;
}

.skills__container__know__react__container-context {
  display: flex;
  font-size: 0.9em;
  margin: 4%;
}

.skills__container__divider {
display: none;
}

.skills__container__less {
display: none;
}


/* ABOUT ME */

.about {
  background-color: var(--green);
  height: 88vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about__decoration {
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.about__decoration__img {
  width: 100%;
  height: 100%;
  margin: 1% 10%;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0% 10%;
}

.about__text-title {
  font-family: var(--titles);
  font-size: 3em;
}

.about__text-description {
  font-size: 1.1em;
  background-color: rgb(2, 217, 213);
  border-radius: 1em;
  padding: 1%;
  margin: 3em auto ;
  width: 100%;
  height: 100%;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
}


/* CONTACT ME */

.contact {
  background-color: var(--yellow);
  height: 88vh;
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__container__info {
  position: relative;
  background-color: var(--green);
  height: 55%;
  width: 70%;
  left: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
}

.contact__container__info-title {
  color: var(--black);
}
.contact__container__info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
}

.contact__container__info-img {
  width: 4%;
  margin: 2% 6%;
}

.contact__container__info-img-dark {
  filter: invert(90%);
  width: 14%;
  margin: 2% 6%;
}


.contact__container__form {
  background-color: var(--cream);
  height: 60%;
  width: 60%;
  margin: 1em auto ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}
.contact__container__form__section {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__container__form__section-input {
  padding: 1.5%;
  width: 60%;
  border: none;
  border-bottom: 0.188em solid var(--gray);
  background: transparent;
  border-radius: 0.625em;
}

.contact__container__form__section-submit {
  padding: 2%;
  width: 64%;
  margin: 1em 0;
}


/* FOOTER */

.footer {
  background: rgb(94, 32, 94);
  margin-top: 6.1%;
  height: 8%;
  width: 80%;
  border-radius: 3em;
  display: flex;
  align-items: center;
}

}
 
@media (max-width: 768px) {

  #body {
    font-size: 12px;
    background: #5e3939;
    width: 100vw;
  }

  /* HEADER */
  
  

  /* HOME */




/* PORTFOLIO */ 


.portfolio__container__projects {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* SKILLS */



/* ABOUT ME */


.about__decoration__img {
  width: 80%;
  height: 80%;
  margin: 1% 10%;
}


.about__text-description {
  font-size: 1.1em;
  background-color: rgb(2, 217, 213);
  border-radius: 1em;
  padding: 1%;
  margin: 2em auto ;
  width: 100%;
  height: 100%;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
}


/* CONTACT ME */

/* FOOTER */



}
@media (max-width: 480px) { 

  /* HEADER */


  /* HOME */

  .home__content__text__description {
    margin: auto;
    width: 90%;
    font-size: 1.5em;
    font-weight: 600;
    margin: 2em auto;
  }



.home__content__img__border__img {
  width: 9em;
}



/* PORTFOLIO */ 

.portfolio__container__projects {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__container__projects__project {
  position: relative;
  width: 90%;
  height: 70%;
  border: var(--cream) solid 0.1em;
  border-radius: 5%;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  justify-content: center;
}



.portfolio__container__cv__button {
  width: 50%;
  height: 40%;
  border: none;
  border-radius: 0;
  background-color: var(--red);
  background-image: url("../src/img/logo/avatar-normal.svg");
  background-size: 40%;
  cursor: pointer;
}

.portfolio__mouse {
  position: relative;
  }

/* SKILLS */

.skills__container {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.skills__container__know__tec__logo {
  width: 4em;
  height: 4em;
  margin: 0.5% 0%;
}


/* ABOUT ME */

.about__decoration__img {
  width: 20%;
  height: 60%;
  margin: 4% 10%;
}


.about__text-description {
  font-size: 1.2em;
  background-color: rgb(2, 217, 213);
  border-radius: 1em;
  padding: 1%;
  margin: 2em auto ;
  width: 100%;
  height: 100%;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);
}


/* CONTACT ME */


.contact__container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__container__info {
  position: relative;
  background-color: var(--green);
  height: 60%;
  width: 70%;
  left: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
}

.contact__container__info-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--black);
}

.contact__container__info-img {
  width: 4%;
  margin: 2% 6%;
}

.contact__container__form {
  background-color: var(--cream);
  height: 50%;
  width: 60%;
  margin: 1em auto ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}




/* FOOTER */

 }
